<app-terminal-container header="blogs" cmd="ls -a blogs">
    <div class="blogs">
        @for (blog of blogs; track blogs) {

            <mat-card>
                <mat-card-header>
                <mat-card-title>
                    {{blog.name}}
                </mat-card-title>
                    
                </mat-card-header>
    
                <mat-card-content>
                    {{blog.desc}}
                </mat-card-content>
                <mat-card-content>
                    <mat-card-actions>
                        <button>Go to Post</button>
                    </mat-card-actions>
                </mat-card-content>
                
            </mat-card>
                
            
        }
    
    </div>

</app-terminal-container>