<div class="terminal-container">
    <div class="terminal-header">
        <div class="buttons">
            <app-terminal-buttons></app-terminal-buttons>
        </div>
        
    
        ~/{{header()}}
    
       
    </div>
    <div class="terminal-body">
        <div class="terminal-cmd">
            <div class="host">
                visitor&#64;portfolio
            </div>
            : 
            <div class="path">
                ~
            </div>
            %
            <div class="cmd">
                {{cmd()}}
            </div>
        </div>

     
      <ng-content></ng-content>
    </div>
  </div>