<p>edu-card works!</p>
<div class="card">
    <div class="card-header">
        <div class="edu-desc">
            <h2>Computer Science With Honours</h2>
            <h3>Victoria University of Wellington</h3>
        </div>
        
        <div class="edu-misc">
            <div class="date">
                <p>Feb 2022 - Present</p>
            </div>
            
            <p>Wellington, NZ</p>
        </div>

    </div>

    <div class="card-key">
        <div class="subtitle">
            <p>//Key things to note</p>
        </div>
        
        <ul>
            <li>Developed and launched a new feature that increased user engagement by 20%</li>
            <li>Optimized the performance of the application, resulting in a 30% reduction in load times</li>
            <li>Collaborated with the design team to create a new user interface that improved user satisfaction by 15%</li>
        </ul>

    </div>
</div>