.project-header{
  display: flex;
  align-items: center;
  gap: 10px;
}

.terminal-container {
    color: #fff;
    border-radius: 12px;
  }
 
  .content {
    border-left: 3px solid purple;
    padding-left: 1rem;
    margin-left: 1rem;
  }

.skills{
  display: flex;
  gap: 0.5rem;
}
