@use "../../../variables" as vars;

h3{
  color: vars.$main-yellow;
}

h2{
  color: vars.$main-purple;
}

.terminal-container {
  color: #fff;
  border-radius: 12px;
}

.project-header{
  display: flex;
  align-items: center;
  gap: 10px;
}

  .content {
    display:flex;
    flex-direction: column;
    gap: 20px;
    border-left: 3px solid purple;
    padding-left: 1rem;
    margin-left: 1rem;
    padding-bottom: 20px;
  }

.skills{
  display: flex;
  flex-wrap: wrap;
  max-width: 45%;
  gap: 0.5rem;
}

a{
  color: vars.$font-gray;
  text-decoration: none;
}
