<div class="about">

        <div class="media">
            <img src="/me.jpeg" alt="Description">

            <div class="intro">
                <h1>Hi I'm Alvien Salvador &gt; </h1>
                <h2> I'm a technology enthusasit curious of how to make a brighter future  </h2>
                <div class="links">
                    <ul>
                        <li>Linkedin</li>
                        <li>Github</li>
                        <li>Email</li>
                    </ul>
                </div>
            </div>
        </div>

  


</div>