.about{

    color: white;
    // height:100vh;
    // width: 100vw;
    // height: 100%;
    // background-color: #32CD32;
}


.media{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vh;
    
}

img{
    width: 25%;
    height: 25%;
    border-radius: 50%;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

h3{
    color: #32CD32;
}