/* In src/styles.css */
.main_div {

    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    gap: 50px;
    width: 100%;
    min-height: 100%;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    padding-top: 5rem;
    padding-bottom: 5rem;
    overflow: hidden;

}

/* Keyframes to animate background position diagonally */
@keyframes scrollBG {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 500px 500px;
  }
}