/* In src/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=JetBrains+Mono:wght@400;700&display=swap');

.main_div {
    width: 100%;
    min-height: 100%;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    padding-top: 5rem;
    padding-bottom: 5rem;
    animation: scrollBG 60s linear infinite;
    overflow: hidden;

}

/* Keyframes to animate background position diagonally */
@keyframes scrollBG {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 500px 500px;
  }
}