<div class="home">
    <app-about-me/>

    <!-- <div class="skill-container">
        <app-skills-container typeOfSkill="Front Dev"></app-skills-container>
        <app-skills-container typeOfSkill="Back Dev"></app-skills-container>
        <app-skills-container typeOfSkill="Mobile Dev"></app-skills-container>
    </div> -->

    <app-terminal-container header="About_me" cmd="cat about-me.txt">
        Hello!! My name is alvien a developer  a rintr
    </app-terminal-container>

    <app-terminal-container header="skills" cmd="ls -la">

        total 20 packages

        <div class="skills">
            <app-skills-container skillName="Frontend" [skills]="['React', 'React Naitve', 'Angular', 'Next.js']" >
            </app-skills-container>
            <app-skills-container skillName="Backend">

            </app-skills-container>
            <app-skills-container skillName="Cybersecurity">

            </app-skills-container>
  
            
        </div>


    </app-terminal-container>

    <app-terminal-container  header="project" cmd="git log --oneline">

        @for(project of projects; track project){
            <app-project-container [num]="project.num" [projectName]="project.name" [skills]="project.skills" >
                {{project.desc}}
            </app-project-container>
        }

    </app-terminal-container>

    <app-terminal-container header="contacts" cmd="./send-message.sh">
        <div class="contact">
            <h2>
                Get In Touch
            </h2>

            <p>
                I'm currently open to new opportunities and collaborations. My inbox is always open, so feel free to reach out!
            </p>

            <button mat-button outlined>
                Get In Touch
            </button>
        </div>
    </app-terminal-container>

  

    

</div>