<div class="home">
    <app-about-me/>

    <!-- <div class="skill-container">
        <app-skills-container typeOfSkill="Front Dev"></app-skills-container>
        <app-skills-container typeOfSkill="Back Dev"></app-skills-container>
        <app-skills-container typeOfSkill="Mobile Dev"></app-skills-container>
    </div> -->

    <app-terminal-container header="About_me" cmd="cat about-me.txt">
        Hello!! My name is alvien a developer  a rintr
    </app-terminal-container>

    <app-terminal-container header="skills" cmd="ls -la">

        <div class="prog_skill">
            @for(skill of progSkills; track skill){
                <app-skills-container [skillName]="skill.name" [skills]="skill.skills">

                </app-skills-container>
            }
        </div>

        <div class="skills">
  
            @for(skill of skills; track skill){
                <app-skills-container [skillName]="skill.name" [skills]="skill.skills">

                </app-skills-container>
            }
            
        </div>


    </app-terminal-container>

    <app-terminal-container  header="project" cmd="git log --oneline">

        @for(project of projects; track project){
            <app-project-container [num]="project.num" [projectName]="project.name" [skills]="project.skills" [github_link]="project.github_link" >
                {{project.desc}}
            </app-project-container>
        }

    </app-terminal-container>

    <app-terminal-container header="contacts" cmd="./send-message.sh">
        <div class="contact-me">
            <div>
                <h2>
                    Get In Touch
                </h2>
    
                <p>
                    I'm currently open to new opportunities and collaborations. My inbox is always open, so feel free to reach out!
                </p>
            </div>

            <div class="contact-info">

                <div class="con">
                    <h2>Email</h2>
                    <h4>Alvien.Salvador&#64;outlook.com</h4>
                </div>

                <div class="con">
                    <h2>Address</h2>
                    <h4>New Zealand, Wellington</h4>
                </div>
    
                <div class="con">
                    <h2>Social</h2>
                    <div class="socials">
                        <a  href="https://github.com/Biboy-al">
                            <img src="/icons/github-mark-white.png" alt="GitHub logo" width="32" height="32">
                        </a>
                        <a href="https://www.linkedin.com/in/alvien-salvador-4a782b277/">
                            <img src="/icons/LI-In-Bug.png" alt="GitHub logo" width="32" height="32">
                        </a>
                    </div>
                </div>

            </div>


        </div>
    </app-terminal-container>

  

    

</div>