<div class="home">
    <app-about-me/>

    <!-- <div class="skill-container">
        <app-skills-container typeOfSkill="Front Dev"></app-skills-container>
        <app-skills-container typeOfSkill="Back Dev"></app-skills-container>
        <app-skills-container typeOfSkill="Mobile Dev"></app-skills-container>
    </div> -->


    <app-project-container header="app.txt">
          
        
        
    </app-project-container>

    <app-project-container header="skill">
          
        
    </app-project-container>

    <app-project-container header="project">
          
        
    </app-project-container>

    <app-project-container header="contacts">
          
        

    </app-project-container>


    

</div>