@use "../../../variables" as vars;

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.prog_skill{

    margin-bottom: 10px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 equal columns */
    grid-template-rows: auto 1fr;           /* 2 rows: first auto height, second fills */
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;

  }


.contact-me{
    display: flex;
    justify-content: space-between;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.address{
    display:flex;
    flex-direction: column;
    
}

.socials{
    display: flex;
   gap: 10px;
}

.con{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.con h2{
    color: vars.$main-yellow;
}


@media (max-width: 768px) {
    .skills {
        display: flex;
      flex-direction: column; 
    }

    .contact-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .con{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-me{
        display: inline;
    }
  }
