<div class="terminal-container" cdkDrag>
    <div class="terminal-header" cdkDragHandle>
        <div class="buttons">
            <app-terminal-buttons></app-terminal-buttons>
        </div>
        ~/{{header()}}
    </div>
    <div class="terminal-body">
        <div class="terminal-cmd">
            <div class="cmd-line">
                <div class="prompt">
                    <div class="host">
                        visitor&#64;portfolio
                    </div>
                    : 
                    <div class="path">
                        ~/{{header()}}
                    </div>
                    %
                </div>
                
                <div class="cmd">
                    {{cmd()}}
                </div>
            </div>
            
        </div>

     
      <ng-content></ng-content>
    </div>
  </div>