$text-green: oklch(79.2% 0.209 151.711);
$text-dark-green: oklch(69% 0.209 151.711);
$main-purple: oklch(71.4% 0.203 305.504);
$main-yellow: #faf089;
$main-blue:  oklch(70.7% 0.165 254.624);
$font-gray: oklch(70.7% 0.022 261.325);
$outline-purple: rgba(139, 92, 246, 0.2);
$bg-gray-skillCard: oklch(21% 0.034 264.665);
$bg-gray-skill:  oklch(21% 0.034 264.665);
$bg-gray-dark: rgba(255, 255, 255, 0.05);


$font-size: 0.875rem;



$font-terminal: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;

