$text-green: oklch(79.2% 0.209 151.711);
$main-purple: oklch(71.4% 0.203 305.504);
$main-yellow: #faf089;
$main-blue:  oklch(70.7% 0.165 254.624);


$font-terminal: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
