@use "../../../variables" as vars;
.chip{
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #1f0c3a; /* dark background */
    border: 1px solid vars.$outline-purple;
    color: #d7b9ff; /* light purple text */
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
}

