@use "../../../variables" as vars;


.contact-card{
    display: flex;
    gap: 10px;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: 1px solid vars.$outline-purple;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    background-color: vars.$bg-gray-skill;

  }

  .contact-card:hover {
    border-color: #a78bfa; /* purple-ish border on hover */
    box-shadow: 0 0 2px 1px #a78bfa; /* subtle glow */
  }

  a{
    text-decoration: none;
    color: inherit;
  }