<header class="app-header">
    <div class="left-section">
      <div class="logo-box">A</div>
      <span class="logo-text">Alvien.dev</span>
    </div>
    <div class="right-section">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="wifi" class="icon"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="battery_4_bar_24" class="icon"></mat-icon>
      <span class="time">{{ currentTime | date: 'MMM d | HH:mm' }}</span>

    </div>
  </header>