<div class="card">
    <div class="card-header">
        <div class="job-desc">
            <h2>Full Stack Developer</h2>
            <h3>Rintr</h3>
        </div>
        
        <div class="job-misc">
            <div class="date">
                <p>Jan 2023 - Present</p>
            </div>
            
            <p>Wellington, NZ</p>
        </div>

    </div>

    <div class="card-body">

        HIII I work for rintr as a full stack developer. I work on both the frontend and backend of our web application, using technologies such as Angular, Node.js, and MongoDB. I also collaborate with the design team to ensure that our application is user-friendly and visually appealing.

    </div>

    <div >
        <div class="subtitle">
            <p>//Technologies</p>
        </div>
        
        <div class="card-skills">
            @for(skill of skills; track skill){
                <app-skill-chip [skill]="skill"></app-skill-chip>
            }
        </div>

    </div>

    <div class="card-key">
        <div class="subtitle">
            <p>//Key Achievements</p>
        </div>
        
        <ul>
            <li>Developed and launched a new feature that increased user engagement by 20%</li>
            <li>Optimized the performance of the application, resulting in a 30% reduction in load times</li>
            <li>Collaborated with the design team to create a new user interface that improved user satisfaction by 15%</li>
        </ul>

    </div>

</div>